---
services:
  vpn-ssh-container:
    build: .
    container_name: vpn-ssh-container
    privileged: true  # Required for OpenConnect
    volumes:
      - ./sockd.conf:/etc/sockd.conf:ro
      - ./tinyproxy.conf:/etc/tinyproxy/tinyproxy.conf:ro
    ports:
      - "8225:8225" #SSH Tunnel B
      - "8224:8224" #SSH Tunnel A
      - "8224:8224" #http
      - "8223:8223" #ssh
      - "8222:8222" # socks5
    environment:
      VPN_SERVER: "vpn.example.com"
      VPN_USERNAME: "MyVpnUsername"
      VPN_PASSWORD_BASE64: "MyVpnPasswordInBase64"
      VPN_AUTHGROUP: "MyVpnAuthgroup"  #Optional
      SSH_PRIVATEKEY_BASE64: "MySshPrivateForTunnl1And2InBase64"
      ROOT_PASSWORD_BASE64: "RootPasswordInBase64"
      SSH_PUB_KEY_BASE64: "MySshPublicKeyToConnectToThisVia8223InBase64"
      SSH_TUNNEL_HOST_A: "AdditionalTunnelToUseItWillRunOn8224"
      SSH_TUNNEL_HOST_B: "AdditionalTunnelToUseItWillRunOn8225"
      SSH_TUNNEL_USER: "MySshUsernameForTunnl1And2"
      KEEP_LOCAL_IP1: "PcIpThatIWillConnectFromToThisContainer"
      KEEP_LOCAL_IP2: "Pc2IpThatIWillConnectFromToThisContainer"
      #KEEP_LOCAL_IP3: "192.168.1.3"
      #KEEP_LOCAL_IP999: "192.168.1.4"
    restart: unless-stopped
